<% case label %>
<% when "open" %>
  <span class="label label-info">
<% when "started" %>
  <span class="label label-success">
<% when "finished" %>
  <span class="label label-danger">
<% else %>
  <span class="label label-default">
<% end %>
<%= t "admin.courses.status.#{label}" %></span>
