h1.label-name {
  text-align: left;
}
h2.label-name {
  text-align: left;
}
.user_info {
  .name-email {
    float: right;
    width: 67%;
    padding-top: 15px;
    font-size: 20px;
  }
}
.list-trainees, .list-managers {
  li {
    list-style: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.52);
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
img.gravatar {
  height: 50px;
}
.edit-operation {
  float: right;
}
.badge {
  margin-left: 10px;
  margin-bottom: 4px;

}
.activity {
  padding-left: 30px;
}
.header-course {
  padding: 50px;
  border: 1px solid rgba(119, 119, 119, 0.2);
  background-color: rgba(119, 119, 119, 0.18);
  margin-bottom: 15px;
  border-radius: 10px;
}
