h1.label-name {
  text-align: left;
}

h2.label-name {
  text-align: left;
}

.user_info {
  .name-email {
    float: right;
    width: 67%;
    padding-top: 15px;
    font-size: 20px;
  }
}

.list-trainees, .list-managers {
  li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    margin-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.edit-operation {
  float: right;
}

.badge {
  margin-left: 10px;
  margin-bottom: 4px;

}

.activity {
  padding-left: 30px;
}

.header-course {
  padding: 50px;
  border: 1px solid rgba(119, 119, 119, 0.2);
  background-color: rgba(119, 119, 119, 0.18);
  margin-bottom: 15px;
  border-radius: 10px;
}

.white-in {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
}

.choose-subjects-field {
  margin-top: 0px !important;
  ul.choose-subjects {
    height: 450px;
    width: 300px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    background-color: white;
  }
}
